<a href="https://colab.research.google.com/github/SachinMhetre678/Machine_Learning/blob/main/Pandas/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
help(pd.Series)

In [ ]:
myindex = ["USA","Canda","Mexico"]

In [ ]:
mydata = [1776,1867,1821]

In [ ]:
myser = pd.Series(data = mydata,index=myindex)

In [ ]:
myser

USA       1776
Canda     1867
Mexico    1821
dtype: int64

In [ ]:
myser[0]

1776

In [ ]:
myser["USA"]

1776

In [ ]:
ages = {'Sam':5,'Frank':10,'Spike':7}

In [ ]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64